### Projet analyse de donn√©es

In [2]:
import pandas as pd
import sqlite3

In [3]:
path = "UkraineCombinedTweets.csv"

df_war = pd.read_csv(path)

<ipython-input-3-1e6b2ea59db8>:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_war = pd.read_csv(path)

In [4]:
df_war.head()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,0,962369743,toonspt_,‡∏û‡∏¢‡∏£‡∏•‡∏Å üòâ\n‡∏à‡∏∞‡πÄ‡∏õ‡∏¥‡∏î‡πÅ‡∏≠‡∏Ñ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏Ç‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô!!,NaN,462,7,20549,2012-11-21 13:01:19.000000,1496738675085897729,2022-02-24 06:48:02.000000,1897,Footage of the airport bombing in Ivano-Franki...,"[{'text': 'Ukraine', 'indices': [68, 76]}, {'t...",en,NaN,0,2022-02-24 06:51:34.430620
1,1,865846412755353600,SabrinaBbsmith,‡∏≠‡πâ‡∏≤‡∏¢‡∏Ñ‡∏∑‡∏≠‡∏õ‡∏£‡∏¥‡∏ç‡∏ç‡∏≤‡πÉ‡∏à‡∏ô‡πâ‡∏≠‡∏á‡∏à‡∏∂‡∏á‡∏¢‡∏¥‡πâ‡∏°‡πÑ‡∏î‡πâ‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ #‡∏™‡∏°‡∏£‡∏™‡πÄ‡∏ó‡πà‡∏≤‡πÄ...,Just go for it,385,503,84016,2017-05-20 08:27:26.000000,1496738675140538368,2022-02-24 06:48:02.000000,3534,12.37 ‡∏ô. ‡πÄ‡∏à‡∏°‡∏™‡πå ‡∏ß‡∏≠‡πÄ‡∏ï‡∏≠‡∏£‡πå‡πÄ‡∏Æ‡∏≤‡∏™‡πå ‡∏ú‡∏π‡πâ‡∏™‡∏∑‡πà‡∏≠‡∏Ç‡πà‡∏≤‡∏ß BBC ‡πÉ‡∏ô...,[],th,NaN,0,2022-02-24 06:51:34.421428
2,2,1927022036,haleggwenn,"Mathe & Kulturanthropologie ‚Ä¢ Feminismus, Anti...","G√∂ttingen, Germany",251,51,78,2013-10-02 14:19:01.000000,1496738675522248706,2022-02-24 06:48:02.000000,0,"Die Rede von #Putin ist echt gruselig:\n""Russl...","[{'text': 'Putin', 'indices': [13, 19]}, {'tex...",de,NaN,0,2022-02-24 06:51:34.412324
3,3,1073676020,IndiaTodayFLASH,No dragging feet on news. Crisp & short news s...,NaN,117,1152610,589066,2013-01-09 12:46:38.000000,1496738675584954371,2022-02-24 06:48:02.000000,18,Ukraine MP Sophia Fedyna tells about the groun...,"[{'text': 'ITVideo', 'indices': [130, 138]}]",en,NaN,0,2022-02-24 06:51:34.403108
4,4,1484119658488033281,sandsand_fight,NaN,NaN,128,3,691,2022-01-20 11:05:01.000000,1496738675710857224,2022-02-24 06:48:03.000000,3974,‡∏£‡∏±‡∏™‡πÄ‡∏ã‡∏µ‡∏¢‡∏¢‡∏¥‡∏á‡∏Ç‡∏µ‡∏õ‡∏ô‡∏≤‡∏ß‡∏∏‡∏ò‡∏£‡∏±‡∏ß‡πÜ‡πÑ‡∏õ‡∏¢‡∏±‡∏á‡∏¢‡∏π‡πÄ‡∏Ñ‡∏£‡∏ô\n#‡∏£‡∏±‡∏™‡πÄ‡∏ã‡∏µ‡∏¢‡∏¢‡∏π‡πÄ...,"[{'text': '‡∏£‡∏±‡∏™‡πÄ‡∏ã‡∏µ‡∏¢‡∏¢‡∏π‡πÄ‡∏Ñ‡∏£‡∏ô', 'indices': [50, 64]...",th,NaN,0,2022-02-24 06:51:34.393984

In [5]:
df_war.shape

(1229349, 18)

In [6]:
df_war['userid'].value_counts()

1470904082089091073    204
3399424287             195
1221856187660099588    164
3260849082             160
1010468647             157
                      ...
1496835953859563520      1
234640747                1
19722319                 1
1400761297881341961      1
259610484                1
Name: userid, Length: 767777, dtype: int64

In [14]:
df_tweet_fr = df_war[df_war['language']=='fr']
df_tweet_fr

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
67,67,928104222,HoPeFuuL_lAdY,Just being curiousüòâ \n#HR #HRIS #digital #econ...,"Paris, France",393,230,16709,2012-11-05 18:01:16.000000,1496738691783536641,2022-02-24 06:48:06.000000,3,Triste monde.\n\nTriste personnage. \n\nMais b...,"[{'text': 'Putin', 'indices': [87, 93]}]",fr,NaN,0,2022-02-24 06:51:33.471317
170,170,938792104381308929,basiladidier1,"M√©decin/Doctor, straight mindset, greed from p...",All over Africa,63,86,421,2017-12-07 15:27:34.000000,1496738711798788098,2022-02-24 06:48:11.000000,0,@EmmanuelMacron Le diable en personne assis su...,"[{'text': 'France', 'indices': [58, 65]}, {'te...",fr,NaN,0,2022-02-24 06:51:31.828558
174,174,1493901794396749833,RexPoliticum,Relations internationales. Int√©r√™t en #politiq...,France,46,5,117,2022-02-16 10:55:23.000000,1496738712348209154,2022-02-24 06:48:11.000000,0,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"[{'text': 'Ukraine', 'indices': [65, 73]}, {'t...",fr,NaN,1,2022-02-24 06:51:31.792154
590,590,840631365301342208,babs_corp,¬´ Je sais que je ne sais rien ¬ª... ...,France,212,47,4777,2017-03-11 18:31:50.000000,1496738795903123456,2022-02-24 06:48:31.000000,4,Dca en action sa commence √† partir en couille ...,"[{'text': 'ww3', 'indices': [75, 79]}, {'text'...",fr,NaN,0,2022-02-24 06:51:26.286527
1409,1409,4313077156,jean_louis08,Juste pour aujourd‚Äôhui ü§ó,Sainte-Anne-des-Plaines,2020,453,7622,2015-11-29 01:39:02.000000,1496738960474845184,2022-02-24 06:49:10.000000,1,avec son discours #VladimirPutin fait voler en...,"[{'text': 'VladimirPutin', 'indices': [38, 52]...",fr,NaN,0,2022-02-24 06:51:17.539765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229115,1229115,79006086,isatis44,"#JeSuisFierDeMonPresident , \nPapa combl√©, Eu...",France,4998,2954,84725,2009-10-01 21:11:37.000000,1497802261631627264,2022-02-27 05:14:21.000000,18,Elon #MUSK vient en aide √† l‚Äô#Ukraine en fourn...,"[{'text': 'MUSK', 'indices': [25, 30]}, {'text...",fr,NaN,0,2022-02-27 05:15:13.045726
1229159,1229159,293424177,FilippiMichel,Auteur - Manifeste pour une strat√©gie exp√©rime...,LYON France,3876,2881,306574,2011-05-05 10:00:44.000000,1497802269290635268,2022-02-27 05:14:23.000000,30,"‚õëüë∂D√®s lundi,je vais r√©fl√©chir avec l‚Äô√©quipe de...","[{'text': 'urgences', 'indices': [65, 74]}]",fr,NaN,0,2022-02-27 05:15:12.674596
1229161,1229161,1452606064478806016,BenChercheur,Chercheur pour les Pays du Sud. Humaniste et a...,NaN,420,187,13976,2021-10-25 12:01:32.000000,1497802269756215297,2022-02-27 05:14:23.000000,1,Les paradoxes de ce monde !! Il y‚Äôa √† peine 2 ...,"[{'text': 'France', 'indices': [77, 84]}]",fr,NaN,0,2022-02-27 05:15:12.660261
1229230,1229230,1467483538442362890,974Kaweni,R√©solument pour l'Union des vraies Droites sa...,NaN,1421,937,11702,2021-12-05 13:18:57.000000,1497802283266060294,2022-02-27 05:14:26.000000,754,On voit √† quel point l‚Äô#Allemagne est pieds et...,"[{'text': 'Allemagne', 'indices': [41, 51]}, {...",fr,NaN,0,2022-02-27 05:15:12.168104
1229307,1229307,1241679710528077824,LoicLuneau,NaN,NaN,100,66,13301,2020-03-22 10:55:02.000000,1497802300567527433,2022-02-27 05:14:30.000000,583,Honteux rattrapage politique d‚Äô@enmarchefr ce ...,[],fr,NaN,0,2022-02-27 05:15:11.439460

In [17]:
df_tweet_fr.to_csv('tweet_fr_ukraine.csv')

In [15]:
df_tweet_fr.columns

Index(['Unnamed: 0', 'userid', 'username', 'acctdesc', 'location', 'following',
       'followers', 'totaltweets', 'usercreatedts', 'tweetid',
       'tweetcreatedts', 'retweetcount', 'text', 'hashtags', 'language',
       'coordinates', 'favorite_count', 'extractedts'],
      dtype='object')

In [16]:
df_tweet_fr['tweetcreatedts'].unique

<bound method Series.unique of 67         2022-02-24 06:48:06.000000
170        2022-02-24 06:48:11.000000
174        2022-02-24 06:48:11.000000
590        2022-02-24 06:48:31.000000
1409       2022-02-24 06:49:10.000000
                      ...
1229115    2022-02-27 05:14:21.000000
1229159    2022-02-27 05:14:23.000000
1229161    2022-02-27 05:14:23.000000
1229230    2022-02-27 05:14:26.000000
1229307    2022-02-27 05:14:30.000000
Name: tweetcreatedts, Length: 78516, dtype: object>

In [ ]:
head = df_tweet_fr.head(10)

In [107]:
conn = sqlite3.connect('data2.sqlite')

In [23]:
head['hashtags'].str.replace(r'text', r"perrine")

67            [{'perrine': 'Putin', 'indices': [87, 93]}]
170     [{'perrine': 'France', 'indices': [58, 65]}, {...
174     [{'perrine': 'Ukraine', 'indices': [65, 73]}, ...
590     [{'perrine': 'ww3', 'indices': [75, 79]}, {'pe...
1409    [{'perrine': 'VladimirPutin', 'indices': [38, ...
1575                                                   []
1791    [{'perrine': 'WWIII', 'indices': [62, 68]}, {'...
1932    [{'perrine': 'guerre', 'indices': [24, 31]}, {...
2646    [{'perrine': 'Macron', 'indices': [46, 53]}, {...
3326    [{'perrine': 'Macron', 'indices': [46, 53]}, {...
Name: hashtags, dtype: object

In [117]:
head

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
67,67,928104222,HoPeFuuL_lAdY,Just being curiousüòâ \n#HR #HRIS #digital #econ...,"Paris, France",393,230,16709,2012-11-05 18:01:16.000000,1496738691783536641,2022-02-24 06:48:06.000000,3,Triste monde.\n\nTriste personnage. \n\nMais b...,"[{'text': 'Putin', 'indices': [87, 93]}]",fr,NaN,0,2022-02-24 06:51:33.471317
170,170,938792104381308929,basiladidier1,"M√©decin/Doctor, straight mindset, greed from p...",All over Africa,63,86,421,2017-12-07 15:27:34.000000,1496738711798788098,2022-02-24 06:48:11.000000,0,@EmmanuelMacron Le diable en personne assis su...,"[{'text': 'France', 'indices': [58, 65]}, {'te...",fr,NaN,0,2022-02-24 06:51:31.828558
174,174,1493901794396749833,RexPoliticum,Relations internationales. Int√©r√™t en #politiq...,France,46,5,117,2022-02-16 10:55:23.000000,1496738712348209154,2022-02-24 06:48:11.000000,0,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"[{'text': 'Ukraine', 'indices': [65, 73]}, {'t...",fr,NaN,1,2022-02-24 06:51:31.792154
590,590,840631365301342208,babs_corp,¬´ Je sais que je ne sais rien ¬ª... ...,France,212,47,4777,2017-03-11 18:31:50.000000,1496738795903123456,2022-02-24 06:48:31.000000,4,Dca en action sa commence √† partir en couille ...,"[{'text': 'ww3', 'indices': [75, 79]}, {'text'...",fr,NaN,0,2022-02-24 06:51:26.286527
1409,1409,4313077156,jean_louis08,Juste pour aujourd‚Äôhui ü§ó,Sainte-Anne-des-Plaines,2020,453,7622,2015-11-29 01:39:02.000000,1496738960474845184,2022-02-24 06:49:10.000000,1,avec son discours #VladimirPutin fait voler en...,"[{'text': 'VladimirPutin', 'indices': [38, 52]...",fr,NaN,0,2022-02-24 06:51:17.539765
1575,1575,791866836,pamp69,√âlectron libre. Souverainiste et ¬´questionnist...,"Lyon, France",3966,5103,10756,2012-08-30 15:52:12.000000,1496738992615739392,2022-02-24 06:49:18.000000,6,Les dirigeants amen√©s √† r√©pondre √† cette menac...,[],fr,NaN,0,2022-02-24 06:51:16.011718
1791,1791,1324302959816151040,grizzly25110512,Cool ta vie,NaN,6,1,27,2020-11-05 10:50:17.000000,1496739029697576962,2022-02-24 06:49:27.000000,0,"P√©partion militaire des soldats ukrainiens, ri...","[{'text': 'WWIII', 'indices': [62, 68]}, {'tex...",fr,NaN,0,2022-02-24 06:51:14.144163
1932,1932,1494490588183506961,JamesHogaboam,"Class War Veteran, activist, Artist",NaN,44,10,237,2022-02-18 01:55:11.000000,1496739057715589121,2022-02-24 06:49:34.000000,13,‚ô¶Ô∏è #guerre ‚ô¶Ô∏è\n\nVid√©o de parachutistes russes...,"[{'text': 'guerre', 'indices': [24, 31]}, {'te...",fr,NaN,0,2022-02-24 06:51:13.017684
2646,2646,1347562106074357760,ramsey_gyimah,NaN,+233,1367,2227,69947,2021-01-08 15:14:08.000000,1496742094425268225,2022-02-24 07:01:38.000000,6,Le r√©sultat des pourparlers de #Macron avec #P...,"[{'text': 'Macron', 'indices': [46, 53]}, {'te...",fr,NaN,0,2022-02-24 07:07:04.660686
3326,3326,3166092970,GaryBeighton7,"""You can Choose to listen to politicians,\nBut...",Global,7,1627,51986,2015-04-14 13:47:53.000000,1496742231700561922,2022-02-24 07:02:10.000000,5,Le r√©sultat des pourparlers de #Macron avec #P...,"[{'text': 'Macron', 'indices': [46, 53]}, {'te...",fr,NaN,0,2022-02-24 07:06:35.746921

In [108]:
head.to_sql('test', conn)

10

In [115]:
country = pd.DataFrame(head['location'].unique()).dropna()
country.columns=['Country']
country

                   Country
0            Paris, France
1          All over Africa
2                   France
3  Sainte-Anne-des-Plaines
4             Lyon, France
6                     +233
7                   Global

In [131]:
my_dict = country.reset_index().set_index("Country")['index'].to_dict()
head['location_id'] = head['location'].map(my_dict)
head

/tmp/ipykernel_24404/2257917929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  head['location_id'] = head['location'].map(my_dict)

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts,location_id
67,67,928104222,HoPeFuuL_lAdY,Just being curiousüòâ \n#HR #HRIS #digital #econ...,"Paris, France",393,230,16709,2012-11-05 18:01:16.000000,1496738691783536641,2022-02-24 06:48:06.000000,3,Triste monde.\n\nTriste personnage. \n\nMais b...,"[{'text': 'Putin', 'indices': [87, 93]}]",fr,NaN,0,2022-02-24 06:51:33.471317,0.0
170,170,938792104381308929,basiladidier1,"M√©decin/Doctor, straight mindset, greed from p...",All over Africa,63,86,421,2017-12-07 15:27:34.000000,1496738711798788098,2022-02-24 06:48:11.000000,0,@EmmanuelMacron Le diable en personne assis su...,"[{'text': 'France', 'indices': [58, 65]}, {'te...",fr,NaN,0,2022-02-24 06:51:31.828558,1.0
174,174,1493901794396749833,RexPoliticum,Relations internationales. Int√©r√™t en #politiq...,France,46,5,117,2022-02-16 10:55:23.000000,1496738712348209154,2022-02-24 06:48:11.000000,0,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"[{'text': 'Ukraine', 'indices': [65, 73]}, {'t...",fr,NaN,1,2022-02-24 06:51:31.792154,2.0
590,590,840631365301342208,babs_corp,¬´ Je sais que je ne sais rien ¬ª... ...,France,212,47,4777,2017-03-11 18:31:50.000000,1496738795903123456,2022-02-24 06:48:31.000000,4,Dca en action sa commence √† partir en couille ...,"[{'text': 'ww3', 'indices': [75, 79]}, {'text'...",fr,NaN,0,2022-02-24 06:51:26.286527,2.0
1409,1409,4313077156,jean_louis08,Juste pour aujourd‚Äôhui ü§ó,Sainte-Anne-des-Plaines,2020,453,7622,2015-11-29 01:39:02.000000,1496738960474845184,2022-02-24 06:49:10.000000,1,avec son discours #VladimirPutin fait voler en...,"[{'text': 'VladimirPutin', 'indices': [38, 52]...",fr,NaN,0,2022-02-24 06:51:17.539765,3.0
1575,1575,791866836,pamp69,√âlectron libre. Souverainiste et ¬´questionnist...,"Lyon, France",3966,5103,10756,2012-08-30 15:52:12.000000,1496738992615739392,2022-02-24 06:49:18.000000,6,Les dirigeants amen√©s √† r√©pondre √† cette menac...,[],fr,NaN,0,2022-02-24 06:51:16.011718,4.0
1791,1791,1324302959816151040,grizzly25110512,Cool ta vie,NaN,6,1,27,2020-11-05 10:50:17.000000,1496739029697576962,2022-02-24 06:49:27.000000,0,"P√©partion militaire des soldats ukrainiens, ri...","[{'text': 'WWIII', 'indices': [62, 68]}, {'tex...",fr,NaN,0,2022-02-24 06:51:14.144163,NaN
1932,1932,1494490588183506961,JamesHogaboam,"Class War Veteran, activist, Artist",NaN,44,10,237,2022-02-18 01:55:11.000000,1496739057715589121,2022-02-24 06:49:34.000000,13,‚ô¶Ô∏è #guerre ‚ô¶Ô∏è\n\nVid√©o de parachutistes russes...,"[{'text': 'guerre', 'indices': [24, 31]}, {'te...",fr,NaN,0,2022-02-24 06:51:13.017684,NaN
2646,2646,1347562106074357760,ramsey_gyimah,NaN,+233,1367,2227,69947,2021-01-08 15:14:08.000000,1496742094425268225,2022-02-24 07:01:38.000000,6,Le r√©sultat des pourparlers de #Macron avec #P...,"[{'text': 'Macron', 'indices': [46, 53]}, {'te...",fr,NaN,0,2022-02-24 07:07:04.660686,6.0
3326,3326,3166092970,GaryBeighton7,"""You can Choose to listen to politicians,\nBut...",Global,7,1627,51986,2015-04-14 13:47:53.000000,1496742231700561922,2022-02-24 07:02:10.000000,5,Le r√©sultat des pourparlers de #Macron avec #P...,"[{'text': 'Macron', 'indices': [46, 53]}, {'te...",fr,NaN,0,2022-02-24 07:06:35.746921,7.0

In [8]:
head.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 67 to 3326
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10 non-null     int64
 1   userid          10 non-null     int64
 2   username        10 non-null     object
 3   acctdesc        9 non-null      object
 4   location        8 non-null      object
 5   following       10 non-null     int64
 6   followers       10 non-null     int64
 7   totaltweets     10 non-null     int64
 8   usercreatedts   10 non-null     object
 9   tweetid         10 non-null     int64
 10  tweetcreatedts  10 non-null     object
 11  retweetcount    10 non-null     int64
 12  text            10 non-null     object
 13  hashtags        10 non-null     object
 14  language        10 non-null     object
 15  coordinates     0 non-null      object
 16  favorite_count  10 non-null     int64
 17  extractedts     10 non-null     object
dtypes: int64(8), object(10)
memory usage: 1.5+ KB

In [11]:
head['text'][67]

'Triste monde.\n\nTriste personnage. \n\nMais bon, affaire √† suivre !\n\n#Putin'

In [116]:
country.to_sql('country', conn)

7

In [70]:
s = head["hashtags"].str.split(expand = True)
s

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
67,[{'text':,"'Putin',",'indices':,"[87,",93]}],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
170,[{'text':,"'France',",'indices':,"[58,","65]},",{'text':,"'Russia',",'indices':,"[102,","109]},",...,None,None,None,None,None,None,None,None,None,None
174,[{'text':,"'Ukraine',",'indices':,"[65,","73]},",{'text':,"'Kiev',",'indices':,"[74,","79]},",...,{'text':,"'Ukrainien',",'indices':,"[117,","127]},",{'text':,"'NATO',",'indices':,"[128,",133]}]
590,[{'text':,"'ww3',",'indices':,"[75,","79]},",{'text':,"'UkraineRussiaConflict',",'indices':,"[80,","102]},",...,None,None,None,None,None,None,None,None,None,None
1409,[{'text':,"'VladimirPutin',",'indices':,"[38,","52]},",{'text':,"'MinskAgreements',",'indices':,"[88,",104]}],...,None,None,None,None,None,None,None,None,None,None
1575,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1791,[{'text':,"'WWIII',",'indices':,"[62,","68]},",{'text':,"'Ukraine',",'indices':,"[69,","77]},",...,None,None,None,None,None,None,None,None,None,None
1932,[{'text':,"'guerre',",'indices':,"[24,","31]},",{'text':,"'Kyiv',",'indices':,"[129,",134]}],...,None,None,None,None,None,None,None,None,None,None
2646,[{'text':,"'Macron',",'indices':,"[46,","53]},",{'text':,"'Putin',",'indices':,"[59,","65]},",...,None,None,None,None,None,None,None,None,None,None
3326,[{'text':,"'Macron',",'indices':,"[46,","53]},",{'text':,"'Putin',",'indices':,"[59,","65]},",...,None,None,None,None,None,None,None,None,None,None

In [99]:
col = list(range(1, 35, 5))

col

[1, 6, 11, 16, 21, 26, 31]

In [103]:
s.iloc[:, col].apply().sum(axis = 1)

TypeError: DataFrame.apply() missing 1 required positional argument: 'func'

In [6]:
df_fr = pd.read_csv("tweet_fr_ukraine.csv")
df_fr.head()

<ipython-input-6-b4aa2d7464a1>:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fr = pd.read_csv("tweet_fr_ukraine.csv")

,Unnamed: 0.1,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,67,67,928104222,HoPeFuuL_lAdY,Just being curiousüòâ \n#HR #HRIS #digital #econ...,"Paris, France",393,230,16709,2012-11-05 18:01:16.000000,1496738691783536641,2022-02-24 06:48:06.000000,3,Triste monde.\n\nTriste personnage. \n\nMais b...,"[{'text': 'Putin', 'indices': [87, 93]}]",fr,NaN,0,2022-02-24 06:51:33.471317
1,170,170,938792104381308929,basiladidier1,"M√©decin/Doctor, straight mindset, greed from p...",All over Africa,63,86,421,2017-12-07 15:27:34.000000,1496738711798788098,2022-02-24 06:48:11.000000,0,@EmmanuelMacron Le diable en personne assis su...,"[{'text': 'France', 'indices': [58, 65]}, {'te...",fr,NaN,0,2022-02-24 06:51:31.828558
2,174,174,1493901794396749833,RexPoliticum,Relations internationales. Int√©r√™t en #politiq...,France,46,5,117,2022-02-16 10:55:23.000000,1496738712348209154,2022-02-24 06:48:11.000000,0,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"[{'text': 'Ukraine', 'indices': [65, 73]}, {'t...",fr,NaN,1,2022-02-24 06:51:31.792154
3,590,590,840631365301342208,babs_corp,¬´ Je sais que je ne sais rien ¬ª... ...,France,212,47,4777,2017-03-11 18:31:50.000000,1496738795903123456,2022-02-24 06:48:31.000000,4,Dca en action sa commence √† partir en couille ...,"[{'text': 'ww3', 'indices': [75, 79]}, {'text'...",fr,NaN,0,2022-02-24 06:51:26.286527
4,1409,1409,4313077156,jean_louis08,Juste pour aujourd‚Äôhui ü§ó,Sainte-Anne-des-Plaines,2020,453,7622,2015-11-29 01:39:02.000000,1496738960474845184,2022-02-24 06:49:10.000000,1,avec son discours #VladimirPutin fait voler en...,"[{'text': 'VladimirPutin', 'indices': [38, 52]...",fr,NaN,0,2022-02-24 06:51:17.539765

In [4]:
df_fr.shape

(78516, 19)

In [59]:
df_user = df_fr.loc[:, ["userid", "username", "following", "followers"] ]
df_user.reset_index()

       index               userid       username  following  followers
0          0            928104222  HoPeFuuL_lAdY        393        230
1          1   938792104381308929  basiladidier1         63         86
2          2  1493901794396749833   RexPoliticum         46          5
3          3   840631365301342208      babs_corp        212         47
4          4           4313077156   jean_louis08       2020        453
...      ...                  ...            ...        ...        ...
78511  78511             79006086       isatis44       4998       2954
78512  78512            293424177  FilippiMichel       3876       2881
78513  78513  1452606064478806016   BenChercheur        420        187
78514  78514  1467483538442362890      974Kaweni       1421        937
78515  78515  1241679710528077824     LoicLuneau        100         66

[78516 rows x 5 columns]

In [29]:
df_tweet = df_fr.loc[:, ["text", "hashtags", "retweetcount", "extractedts", "userid"] ]
df_tweet

,text,hashtags,retweetcount,extractedts,userid
0,Triste monde.\n\nTriste personnage. \n\nMais b...,"[{'text': 'Putin', 'indices': [87, 93]}]",3,2022-02-24 06:51:33.471317,928104222
1,@EmmanuelMacron Le diable en personne assis su...,"[{'text': 'France', 'indices': [58, 65]}, {'te...",0,2022-02-24 06:51:31.828558,938792104381308929
2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"[{'text': 'Ukraine', 'indices': [65, 73]}, {'t...",0,2022-02-24 06:51:31.792154,1493901794396749833
3,Dca en action sa commence √† partir en couille ...,"[{'text': 'ww3', 'indices': [75, 79]}, {'text'...",4,2022-02-24 06:51:26.286527,840631365301342208
4,avec son discours #VladimirPutin fait voler en...,"[{'text': 'VladimirPutin', 'indices': [38, 52]...",1,2022-02-24 06:51:17.539765,4313077156
...,...,...,...,...,...
78511,Elon #MUSK vient en aide √† l‚Äô#Ukraine en fourn...,"[{'text': 'MUSK', 'indices': [25, 30]}, {'text...",18,2022-02-27 05:15:13.045726,79006086
78512,"‚õëüë∂D√®s lundi,je vais r√©fl√©chir avec l‚Äô√©quipe de...","[{'text': 'urgences', 'indices': [65, 74]}]",30,2022-02-27 05:15:12.674596,293424177
78513,Les paradoxes de ce monde !! Il y‚Äôa √† peine 2 ...,"[{'text': 'France', 'indices': [77, 84]}]",1,2022-02-27 05:15:12.660261,1452606064478806016
78514,On voit √† quel point l‚Äô#Allemagne est pieds et...,"[{'text': 'Allemagne', 'indices': [41, 51]}, {...",754,2022-02-27 05:15:12.168104,1467483538442362890
78515,Honteux rattrapage politique d‚Äô@enmarchefr ce ...,[],583,2022-02-27 05:15:11.439460,1241679710528077824

In [30]:
df_tweet['hashtags']=df_tweet['hashtags'].str.split(expand=True)[1]
df_tweet.head()

,text,hashtags,retweetcount,extractedts,userid
0,Triste monde.\n\nTriste personnage. \n\nMais b...,"'Putin',",3,2022-02-24 06:51:33.471317,928104222
1,@EmmanuelMacron Le diable en personne assis su...,"'France',",0,2022-02-24 06:51:31.828558,938792104381308929
2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"'Ukraine',",0,2022-02-24 06:51:31.792154,1493901794396749833
3,Dca en action sa commence √† partir en couille ...,"'ww3',",4,2022-02-24 06:51:26.286527,840631365301342208
4,avec son discours #VladimirPutin fait voler en...,"'VladimirPutin',",1,2022-02-24 06:51:17.539765,4313077156

In [33]:
df_tweet["extractedts"]= pd.to_datetime(df_tweet["extractedts"])

In [37]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78516 entries, 0 to 78515
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   text          78516 non-null  object
 1   hashtags      67017 non-null  object
 2   retweetcount  78516 non-null  int64
 3   extractedts   78516 non-null  datetime64[ns]
 4   userid        78516 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 3.0+ MB

In [40]:
#Ann√©e
df_tweet['year'] = df_tweet["extractedts"].dt.year

#Mois
df_tweet['month'] = df_tweet['extractedts'].dt.month

#Jour
df_tweet['day'] = df_tweet["extractedts"].dt.day

#heure
df_tweet['hour'] = df_tweet['extractedts'].dt.hour

#minute
df_tweet["minute"] = df_tweet["extractedts"].dt.minute

In [41]:
df_tweet.head()

,text,hashtags,retweetcount,extractedts,userid,year,month,day,hour,minute
0,Triste monde.\n\nTriste personnage. \n\nMais b...,"'Putin',",3,2022-02-24 06:51:33.471317,928104222,2022,2,24,6,51
1,@EmmanuelMacron Le diable en personne assis su...,"'France',",0,2022-02-24 06:51:31.828558,938792104381308929,2022,2,24,6,51
2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"'Ukraine',",0,2022-02-24 06:51:31.792154,1493901794396749833,2022,2,24,6,51
3,Dca en action sa commence √† partir en couille ...,"'ww3',",4,2022-02-24 06:51:26.286527,840631365301342208,2022,2,24,6,51
4,avec son discours #VladimirPutin fait voler en...,"'VladimirPutin',",1,2022-02-24 06:51:17.539765,4313077156,2022,2,24,6,51

In [42]:
df_tweet.columns

Index(['text', 'hashtags', 'retweetcount', 'extractedts', 'userid', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [44]:
df_tweet = df_tweet[["text", "hashtags", "retweetcount", "year", "month", "day", "hour", "minute", "userid", "extractedts"]]
df_tweet.drop("extractedts", axis = 1, inplace = True)
df_tweet.head()

,text,hashtags,retweetcount,year,month,day,hour,minute,userid
0,Triste monde.\n\nTriste personnage. \n\nMais b...,"'Putin',",3,2022,2,24,6,51,928104222
1,@EmmanuelMacron Le diable en personne assis su...,"'France',",0,2022,2,24,6,51,938792104381308929
2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"'Ukraine',",0,2022,2,24,6,51,1493901794396749833
3,Dca en action sa commence √† partir en couille ...,"'ww3',",4,2022,2,24,6,51,840631365301342208
4,avec son discours #VladimirPutin fait voler en...,"'VladimirPutin',",1,2022,2,24,6,51,4313077156

In [46]:
df_tweet.columns

Index(['text', 'hashtags', 'retweetcount', 'year', 'month', 'day', 'hour',
       'minute', 'userid'],
      dtype='object')

### TESTS

In [108]:
df_user_10 = df_user.head(10)
df_tweet_10 = df_tweet.head(10)

In [109]:
df_user_10

                userid         username  following  followers
0            928104222    HoPeFuuL_lAdY        393        230
1   938792104381308929    basiladidier1         63         86
2  1493901794396749833     RexPoliticum         46          5
3   840631365301342208        babs_corp        212         47
4           4313077156     jean_louis08       2020        453
5            791866836           pamp69       3966       5103
6  1324302959816151040  grizzly25110512          6          1
7  1494490588183506961    JamesHogaboam         44         10
8  1347562106074357760    ramsey_gyimah       1367       2227
9           3166092970    GaryBeighton7          7       1627

In [110]:
df_tweet_10

,text,hashtags,retweetcount,year,month,day,hour,minute,userid
0,Triste monde.\n\nTriste personnage. \n\nMais b...,"'Putin',",3,2022,2,24,6,51,928104222
1,@EmmanuelMacron Le diable en personne assis su...,"'France',",0,2022,2,24,6,51,938792104381308929
2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"'Ukraine',",0,2022,2,24,6,51,1493901794396749833
3,Dca en action sa commence √† partir en couille ...,"'ww3',",4,2022,2,24,6,51,840631365301342208
4,avec son discours #VladimirPutin fait voler en...,"'VladimirPutin',",1,2022,2,24,6,51,4313077156
5,Les dirigeants amen√©s √† r√©pondre √† cette menac...,None,6,2022,2,24,6,51,791866836
6,"P√©partion militaire des soldats ukrainiens, ri...","'WWIII',",0,2022,2,24,6,51,1324302959816151040
7,‚ô¶Ô∏è #guerre ‚ô¶Ô∏è\n\nVid√©o de parachutistes russes...,"'guerre',",13,2022,2,24,6,51,1494490588183506961
8,Le r√©sultat des pourparlers de #Macron avec #P...,"'Macron',",6,2022,2,24,7,7,1347562106074357760
9,Le r√©sultat des pourparlers de #Macron avec #P...,"'Macron',",5,2022,2,24,7,6,3166092970

In [53]:
for index, ligne in df_user_10.iterrows():
    print(ligne['username'], ligne['userid'])

HoPeFuuL_lAdY 928104222
basiladidier1 938792104381308929
RexPoliticum 1493901794396749833
babs_corp 840631365301342208
jean_louis08 4313077156
pamp69 791866836
grizzly25110512 1324302959816151040
JamesHogaboam 1494490588183506961
ramsey_gyimah 1347562106074357760
GaryBeighton7 3166092970

In [112]:
df_user_10 = df_user_10.reset_index()

In [123]:
df_user_10 = df_user_10.rename(columns={"index": "user_id"})
df_user_10

   user_id               userid         username  following  followers
0        0            928104222    HoPeFuuL_lAdY        393        230
1        1   938792104381308929    basiladidier1         63         86
2        2  1493901794396749833     RexPoliticum         46          5
3        3   840631365301342208        babs_corp        212         47
4        4           4313077156     jean_louis08       2020        453
5        5            791866836           pamp69       3966       5103
6        6  1324302959816151040  grizzly25110512          6          1
7        7  1494490588183506961    JamesHogaboam         44         10
8        8  1347562106074357760    ramsey_gyimah       1367       2227
9        9           3166092970    GaryBeighton7          7       1627

In [125]:
df_user_10.drop('userid', axis = 1, inplace = True)

KeyError: "['userid'] not found in axis"

In [126]:
df_user_10

   user_id         username  following  followers
0        0    HoPeFuuL_lAdY        393        230
1        1    basiladidier1         63         86
2        2     RexPoliticum         46          5
3        3        babs_corp        212         47
4        4     jean_louis08       2020        453
5        5           pamp69       3966       5103
6        6  grizzly25110512          6          1
7        7    JamesHogaboam         44         10
8        8    ramsey_gyimah       1367       2227
9        9    GaryBeighton7          7       1627

In [127]:
df_tweet_10 = df_tweet_10.reset_index()
df_tweet_10

,index,text,hashtags,retweetcount,year,month,day,hour,minute,userid
0,0,Triste monde.\n\nTriste personnage. \n\nMais b...,"'Putin',",3,2022,2,24,6,51,928104222
1,1,@EmmanuelMacron Le diable en personne assis su...,"'France',",0,2022,2,24,6,51,938792104381308929
2,2,Impact d‚Äôun missile √† l‚Äôa√©roport de Frankiskv....,"'Ukraine',",0,2022,2,24,6,51,1493901794396749833
3,3,Dca en action sa commence √† partir en couille ...,"'ww3',",4,2022,2,24,6,51,840631365301342208
4,4,avec son discours #VladimirPutin fait voler en...,"'VladimirPutin',",1,2022,2,24,6,51,4313077156
5,5,Les dirigeants amen√©s √† r√©pondre √† cette menac...,None,6,2022,2,24,6,51,791866836
6,6,"P√©partion militaire des soldats ukrainiens, ri...","'WWIII',",0,2022,2,24,6,51,1324302959816151040
7,7,‚ô¶Ô∏è #guerre ‚ô¶Ô∏è\n\nVid√©o de parachutistes russes...,"'guerre',",13,2022,2,24,6,51,1494490588183506961
8,8,Le r√©sultat des pourparlers de #Macron avec #P...,"'Macron',",6,2022,2,24,7,7,1347562106074357760
9,9,Le r√©sultat des pourparlers de #Macron avec #P...,"'Macron',",5,2022,2,24,7,6,3166092970

In [128]:
df_tweet_10 = df_tweet_10.rename(columns = {"index" : "user_id"})

In [129]:
df_tweet_10.drop("userid", axis = 1, inplace=True)

In [134]:
df_tweet_10 = df_tweet_10[["text", "hashtags", "retweetcount", "year", "month", "day", "hour", "minute", "user_id"]]
df_tweet_10 = df_tweet_10.iloc[:,1:]
df_tweet_10

           hashtags  retweetcount  year  month  day  hour  minute  user_id
0          'Putin',             3  2022      2   24     6      51        0
1         'France',             0  2022      2   24     6      51        1
2        'Ukraine',             0  2022      2   24     6      51        2
3            'ww3',             4  2022      2   24     6      51        3
4  'VladimirPutin',             1  2022      2   24     6      51        4
5              None             6  2022      2   24     6      51        5
6          'WWIII',             0  2022      2   24     6      51        6
7         'guerre',            13  2022      2   24     6      51        7
8         'Macron',             6  2022      2   24     7       7        8
9         'Macron',             5  2022      2   24     7       6        9

In [133]:
df_tweet_10.to_csv('tweet_10.csv')
df_user_10.to_csv('user_10.csv')